.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px dashed var(--green);
  border-radius: 0.5rem;
  background-color: var(--grey);
  color: var(--green);
}

.form header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.form input {
  width: 100%;
  height: 3rem;
  min-width: 20rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--green);
  font-size: 1.25rem;
  background-color: rgb(61, 61, 61);
  margin-bottom: 0.25rem;
}

.form label {
  font-size: var(--fs-base);
  margin-bottom: 0.25rem;
}

.form button,
.form a {
  padding: 1rem 2rem;
  border: 3px solid var(--green);
  color: var(--green);
  font-size: var(--fs-md);
  background-color: inherit;
  transition: all ease-in-out 300ms;
}

.form button:hover,
.form a:hover {
  color: var(--grey);
  background-color: var(--green);
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

.form a {
  text-decoration: none;
  margin-top: 1rem;
}

.form h1 {
  font-size: var(--fs-xl);
}

.form span {
  min-height: 1rem;
}

.form h5 {
  color: rgb(61, 61, 61);
  margin-bottom: 0.5rem;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loading svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}