.home {
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(238, 235, 231);
  box-shadow: rgba(149, 157, 165, 0.2) 0rem 0rem 1rem;
}

.form input {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: white;
  font-size: 1.25rem;
  background-color: rgb(61, 61, 61);
  margin-bottom: 0.25rem;
}

.form span {
  min-height: 1rem;
}

.form h1 {
  color: rgb(61, 61, 61);
}

.form h5 {
  color: rgb(61, 61, 61);
  margin-bottom: 0.5rem;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loading svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}